---
import Layout from "../layouts/Layout.astro";
import Timer from "../components/Timer/index";
import MusicIframe from "../components/MusicIframe/index.vue";
---

<Layout title="PomoKoch">
  <main>
    <div class="flex flex-col items-center justify-center gap-2">
      <Timer.Root client:only>
        <Timer.Modes client:only />
        <Timer.Time client:only />
        <Timer.Percentage client:only />
        <Timer.Actions client:only />
      </Timer.Root>
      <MusicIframe />
    </div>
  </main></Layout
>
